@import '@/assets/style/common.scss';

.review-card{
  .head-img{
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 16px;
  }
  .name{
    color: $--juejin-font-2;
  }
  .time{
    color: $--juejin-font-3;
  }
  .review-content{
    line-height: 28px;
    @include text-overflow-multi(3);
    color: $--juejin-font-1;
  }
}